.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 55%;
}

.n {
    font-style: italic;
    line-height: 1.2;
}

.bc {
    padding-top: 6rem;
    background-color: #b8cbeb;
}

.text-center {
    text-align: center!important;
}

.image-hero {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.subtitle {
    letter-spacing: 10px;
}

#hero {
    height: 95vh;
}

.text-about {
    text-indent: 50px;
    text-align: justify;
}

.card-img-top {
    height: 200px;
}